#title {
  text-align: center;
}

#rgb-color {
  text-align: center;
}

#circle-container {
  text-align: center;
  padding-top: 50px;
}

#answer {
  text-align: center;
}

#button-container {
  text-align: center;
  padding-top: 20px;
}

#reset-game {
  background-color: green;
  color: black;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

#score {
  text-align: center;
}
